<div class="px-10">
  <h1 class="text-lg font-bold">About</h1>
  <p class="text-xs">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab doloremque
    totam commodi provident praesentium delectus cum nobis, nulla obcaecati?
    Officia in quos sunt, iste voluptatum a accusamus provident quisquam
    quibusdam?
  </p>
  <p>
    Numero de clientes
    <app-counter
      [duration]="duration()"
      [message]="message()"
      *ngIf="duration() > 0"
    />
  </p>
  <div>
    <app-wave-audio audioUrl="/assets/audio.mp3"/>
  </div>
</div>
